<div class="row albums-container">
  {{#each model as |album|}}
    <h2>{{album.title}}</h2>
    <h3>{{album.artist}}</h3>
    <p>{{album.description}}</p>
  {{/each}}
</div>

{{#link-to 'new-album'}}
  <button class="btn btn-default">
    Create New Album
  </button>
{{/link-to}}

{{outlet}}
