<div class="row albums-container">
  {{#each model as |album|}}
    {{#link-to 'album' album}}<h2>{{album.title}}</h2>{{/link-to}}
    <!-- <h3>{{album.artist}}</h3>
    <p>{{album.description}}</p> -->
  {{/each}}
</div>

{{#link-to 'new-album'}}
  <!-- <button class="btn btn-default new-album">
    Create New Album
  </button> -->
  <div class="container-add-album">
    <div class="toggle">
      <input type="checkbox" class="add">
      <span class="button-add-album"></span>
      <span class="label-new-album">+</span>
    </div>
  </div>
{{/link-to}}


<!-- <div class="container-add-album">
  <div class="toggle">
    <input type="checkbox" class="add">
    <span class="button-add-album"></span>
    <span class="label-new-album">+</span>
  </div>
</div> -->

{{outlet}}
