<h2>{{album.title}}</h2>
<h3>{{album.artist}}</h3>
<p>{{album.description}}</p>

<div class="edit-buttons">
  {{#link-to 'edit-album' album class="btn btn-xs edit"}}
      Edit Album
  {{/link-to}}

  <button class="btn btn-xs btn-danger" {{action "delete"}}>
    Delete
  </button>
</div>
