<label for="albumDescription">Description:</label>
{{textarea rows="5" class="form-control" id="description" placeholder="Abbey Road is the eleventh studio album by English rock band the Beatles, released on 26 September 1969 by Apple Records." value=description}}
